<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<style>
    .container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.chart {
  margin-right: 50px;
}

.details {
  text-align: center;
}

</style>
<body>
<div class="container">
  <div class="chart">
    <img src="data:image/png;base64,{{ image }}" alt="Pie Chart">
  </div>
  <div class="details">
    <h2>{{ movie }}</h2>
    <h2>Total comments: {{ allcomments }}</h2>
    <h2>Verdict: {{ verdict }}</h2>
  </div>
</div>
</body>
</html>